
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,800;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #081b29;
    color: #ededed;
}
.header{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

img{
  height: 200px;
  width: 200px;
  margin-left: 40%;
  margin-top: 10%;
  border: 2px solid #00abf0;
  border-radius: 50%;
}
p{
    text-align:start;   
    padding:10px  30% ;
    line-height: 2; 
}
.full{
    
 padding-top: 30px;
 margin-left: 35.5%;
 color: #00abf0;
}
.skills{
    padding-top: 30px;
    margin-left: 20%;
    color:wheat;
}

.my{
    padding-top: 10%;
    color: #00abf0;
   text-decoration: underline;
}
ul{
    line-height: 4;
}
.home{
    height: 100vh;
    background:url(6.png) no-repeat;
    background-size: cover;
    background-position: center;


     display: flex;
     align-items: center;
     padding: 0 10%;


}


